.carname{
    font-size: 2em;
}
.cardetails{
    font-size:1.2em;
    padding-right:50px;
    padding-bottom:20px;
}
.carpic,.cardetails,.carname{
    display: inline-block;
}
.Text{
    padding-left: 15px;
}

#title, #cars{
    padding-left: 10px;
}

.buttons {
    float: right;
    margin-right: 25px;
}